<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright
     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.goolag.pif"
          android:versionCode="2"
          android:versionName="2.0" >

    <!-- Permissions -->
    <permission android:name="com.goolag.pif.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
                android:protectionLevel="normal" tools:replace="android:protectionLevel" />
    <uses-permission android:name="android.permission.ACCESS_KEYBOX_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.SubSettingsBase">

        <!-- Pif activity -->
        <activity
            android:name=".PifActivity"
            android:label="@string/pif_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- KeyboxDataUploaderService -->
        <service
            android:name=".KeyboxDataUploaderService"
            android:permission="android.permission.ACCESS_KEYBOX_SERVICE"
            android:exported="false">
            <!-- No intent-filter needed -->
        </service>

        <!-- BootReceiver -->
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
