<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023-2024 The Evolution X Project
     SPDX-License-Identifier: Apache-2.0
-->

          <!-- android:sharedUserId="android.uid.shared" -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.goolag.pif"
          android:versionCode="2"
          android:versionName="2.0" >

    <permission android:name="com.goolag.pif.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="normal" tools:replace="android:protectionLevel"/>

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.SubSettingsBase"
        android:exported="true">

        <!-- Pif activity -->
        <activity
            android:name=".PifActivity"
            android:label="@string/pif_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
